@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFEBD6;
  --foreground: #1A1A1A;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Isso garante que a rolagem funcione suave */
html {
  scroll-behavior: smooth;
}